@{
    ViewBag.Title = "Acerca de nosotros";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    
    <section>
        <h2 class="text-center">Preguntas frecuentes</h2>
        <ul class="list-unstyled ">
            <li class="mb-3">
                <em class="fw-bold">¿Cuanto es el tiempo de espera que tendra mi pedido? </em><br />
                Los pedidos se procesan en un tiempo maximo de 2 dias habiles, luego son despachados y entregados en un plazo de 7 dias
            </li>

            <li class="mb-3">
                <em class="fw-bold">¿Envian a todo el pais? </em><br />
                ¡Si!, tenemos covertura dentro y fuera del gam.
            </li>

            <li class="mb-3">
                <em class="fw-bold">¿Cuales son las tarifas de envio? </em><br />
                Dentro del GAM el precio base son ₡3500 con un tiempo de entrega inferior a los 7 dias habiles.<br />
                fuera del GAM tiene un precio de ₡4500 con un tiempo de entrega inferior a los 14 dias habiles.
            </li>

        </ul>
    </section>
    

</main>