@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Redes sociales</h4>
    <a href="facebook.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Logo_de_Facebook.png/1023px-Logo_de_Facebook.png" alt="facebook icon" width="64" /></a>
    <a href="instagram.com"><img src="https://cdn-icons-png.freepik.com/256/15707/15707869.png?semt=ais_hybrid" alt="instagram icon" width="64" /></a>
    <a href="twitter.com"><img src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?w=360" alt="X icon" width="64" /></a>



    <address>
        <p>Contactanos por medio de correo electronico</p>
        <strong>Atencion al cliente:</strong>   <a href="mailto:Support@example.com">Soporte@example.com</a><br />
        <strong>ventas:</strong> <a href="mailto:Marketing@example.com">Ventas@example.com</a>
    </address>
</main>